{% extends "CustomerAppBundle::layout.html.twig" %}

{% block content %}

    <section class="content">
        <div class="container">
            <h1>Your Account</h1>

            <h2>Account Details</h2>

            <form action="/account/update" method="post">
                {% if accountMessage is not empty %}
                    <div class="alert alert--success">{{ accountMessage }}</div>
                {% endif %}

                {% form_theme accountUpdateForm 'bootstrap_3_layout.html.twig' %}
                {{ form_widget(accountUpdateForm) }}

                <p class="mts"><small>Please note if you accept to receive correspondence by email we are not ready to go paperless just yet! We are just building up information on our data base for future use. Our paperless system will be ready soon and when it is we will contact you to confirm that your correspondence will be sent by email going forward. All correspondence will therefore still be sent to you by post at this time.</small></p>

                <input type="submit" value="Save">
            </form>

            <h3 class="mtl">Update Password</h3>

            {% if passwordMessage is not empty %}
                <div class="alert alert--success">{{ passwordMessage }}</div>
            {% endif %}
            <form action="/account/password" method="post">
                {{ form_widget(passwordForm) }}
                <input class="mts" type="submit" value="Update">
            </form>
        </div>
    </section>

{% endblock %}
