{% extends "CustomerAppBundle::layout.html.twig" %}

{% block content %}

    <section class="content">
        <div class="container">
            <div class="grid">
                <div class="grid__item lap--two-thirds">
                    <h1>{{ title }}</h1>
                    <p>In order that we can activate your account we need your email address. We also request that you provide us with a contact telephone number incase of an emergency relating to your property.</p>

                    <form action="/account/update-required" class="mtl" method="post">
                        {% form_theme accountUpdateForm 'bootstrap_3_layout.html.twig' %}
                        {{ form_widget(accountUpdateForm) }}
                        <p class="mtm"><small>Please note if you accept to receive correspondence by email we are not ready to go paperless just yet! We are just building up information on our data base for future use. Our paperless system will be ready soon and when it is we will contact you to confirm that your correspondence will be sent by email going forward. All correspondence will therefore still be sent to you by post at this time.</small></p>
                        <p class="mbm"><small>Your details will never be passed to a 3rd party.</small></p>
                        <input class="button" type="submit" value="Update">
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
