{% extends 'SupplierAppBundle::layout.html.twig' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col span_12 intro-box">
            <h1><strong>FAQ/Guidance</strong></h1>
        </div>
    </div>
    <div class="row">
        <div class="col span_12">
	        <h2>Here to Help</h2>
	
	        <h4>What is my username & Password?</h4>
			<p>Please contact <a href="mailto:cas@warwickestates.net"> cas@warwickestates.net</a></p>
	
			<h4>My invoice has been rejected, why?</h4>
			
			<p>Reasons for rejection:</p>
			<ul>
			    <li>Invoice address - All invoices must be addressed to our client. The Works order instruction will advise
			        the billing address when issued. When the invoice isre-addressed, please up-load your
			        again.</li>
			    <li>Invoice amount - Total entered does not match invoice.</li>
			    <li>Works order number missing on invoice.</li>
			</ul>
			<p>An email notification with copy invoice and Works order will be issued. The reason will be detailed and a notification will appear on the homepage. Click the notification to re-upload invoice, the reason will appear on notes on my invoice tab alongside the Works order.</p>
			
			<h4>I do not have a valid Works order number.</h4>
			<p>An email notification is issued to the service email on instruction, if this has not been received, please contact the relevant Property Manager/Assistant who instructed the works.</p>
			
			<h4>When will my invoice be paid?</h4>
			<p>Our payment runs are every Monday, the 'My Invoices' tab details the status of the Works order.</p>
			
			<h4>What does my Works order status mean?</h4>
			<ul>
				<li>Supplier invoice awaiting approval - Invoice to be checked by Client Finance team – Invoice uploaded to correct Works order,
				Invoice address is correct, Works order quoted and invoice details uploaded match
				invoice.</li>
				<li>Awaiting approval - The invoice has been checked by Client Finance and awaiting approval by the Property
				Manager. If invoice awaiting approval has been over 21 days from date uploaded, please contact the
				relevant Property Manager.</li>
				<li>Approved for payment - The invoice has been approved for payment, your invoice will be paid on the following
				Monday.</li>
				<li>Supplier Invoice Rejected - The invoice has not met approval requirements.</li>
				<li>Invoice Rejected - Invoice rejected by Property Manager, notification will be issued, if not received please contact
				Property Manager listed next to Works order.</li>
			</ul>
			
			<h4>How do I update my bank details?</h4>
			<p>Please provide in writing to <a href="mailto:cas@warwickestates.net">cas@warwickestates.net</a></p>
        </div>
    </div>
</div>

{% endblock %}