<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="breadcrumbs d-flex align-item-center padding-top-10 padding-bottom-15 padding-top-sm-20 padding-bottom-sm-30 padding-bottom-md-35">
                <a href="/pages/dashboard/dashboard-director.html" class="icon icon-16 icon-home bg-grey-3"></a>
                <span class="icon icon-12 icon-divider bg-grey-4"></span>
                <a href="#" class="fc-grey-3">{{ crumb_link }}</a>
            </div>
        </div>
    </div>
</div>
