<div class="bg-grey-2">
    <div class="container error-report">
        <div class="row">
            <div class="col-12 d-lg-flex align-items-center justify-content-center text-center padding-top-30 padding-bottom-35 padding-top-md-35 padding-bottom-md-40">
                <div>
                    <h3 class="fc-white fw-700 d-md-inline">Notice any problems?</h3>
                    <h3 class="fc-grey-4 fw-500 padding-right-sm-20 padding-bottom-20 padding-bottom-md-0 d-md-inline">Please help up investigate your issue by reporting it.</h3>
                </div>

                <a href="#" class="btn btn-cyan margin-top-md-20 margin-top-lg-0">Report Issue</a>
            </div>
        </div>
    </div>
</div>