{% extends "CustomerAppBundle::layout.html.twig" %}


{% block nav %}
    <header class="bg-white d-flex justify-content-center">
        <h1><a class="logo" href="/">Warwick Estates</a></h1>
    </header>
{% endblock %}
