<div class="alert bg-cyan padding-top-15 padding-bottom-15 padding-top-sm-25 padding-bottom-sm-25 padding-top-md-30 padding-bottom-md-30">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 text-center text-sm-left">
                <p class="fw-500 fc-white fs-7"><b>Alert: </b>You have {{ notifications }} new notifications</p>
            </div>
            <div class="col-sm-4 d-flex">
                <div class="text-button fw-700 d-flex align-items-center justify-content-center justify-content-sm-end">
                    <a href="#" class="fc-white">
                        Go to Notifications
                    </a>
                    <div class="icon icon-divider icon-12 bg-white"></div>
                </div>
            </div>
        </div>
    </div>
</div>
