<div class="container">
    <ul class="pagination d-flex justify-content-center align-items-center margin-bottom-50 margin-bottom-sm-60 margin-bottom-md-90 margin-top-20">
        <li><span class="icon icon-divider icon-rotate-180 bg-primary"></span></li>
        <li class="active">1</li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#"><span class="icon icon-divider bg-primary"></span></a></li>
    </ul>
</div>