{% extends "CustomerAppBundle::layout.html.twig" %}

{% block content %}

    <section class="content">
        <div class="container">
            <h1>Reports</h1>
            <p>How did you end up here?</p>
        </div>
    </section>

{% endblock %}
