/* ==========================================================================
   Header
   ========================================================================== */

header {
	.container {
		max-width: 1080px;
		position: static;
		@include mq(m){
			position: relative;
		}
		z-index: 1;
		min-height: 75px;
		padding: 0;
		.logo {
			padding: 15px 30px 15px 30px;
			width: 220px;
		}
	}	
}

/* ==========================================================================
   Navigation
   ========================================================================== */

nav.menu-container {
	
	@include mq(l){
		position: absolute;
		right: 0;
		top: 0;
		ul.nav {
			margin: auto;
			padding: 0;
			li {
				display: inline-block;
				position: relative;
				&.menu-item-has-children {
					> a:before {
						content: '▾';
						position: absolute;
						right: 0;
						top:12px;
					}
				}
				a {
					display: block;
					padding: 25px 15px;
					color: #454348;
					&:hover {
						color: $primary;
					}
				}
				&:last-child {
					a {
						background: $primary;
						color: white;
						text-transform: uppercase;
						padding: 25px;
					}
				}
				&.login {
					a {
						color: $primary;
					}
				}
				&.current-menu-item {
					a {
						color: black;
						font-weight: 700;
					}
				}
				ul {
					display: none;
					position: absolute;
					width: 200px;
					z-index: 999;
					margin: 0;
					padding: 0;
					li {
						background: #333;
						text-align: left;
						width: 100%;
						a {
							width: 100%;
							color: white;
						}
						
					}
				}
				&:hover > ul {
					display: inline-block;
					animation: fadein .25s;
				}
			}
		}
	}
}


@media screen and (max-width:979px) {

	// colours
	
	$hamburger_colour: 	#e4361d;
	$menu_bg:			#d9d9d9;
	$textColour:	 	#454348;
	
	// spacing
	
	$space:				1em;
	$bun_space:			20px;
	$burger_width:		5px;
	
	.hamburger{
		text-align:right;
		.burger {
			position: absolute;
			top:15px;
			right: 10px;
			z-index: 2;
			padding: 10px;
		}
		.bun{
			display:inline-block;
			padding:0;
			width:auto;
			> span{
				display:block;
				height:$burger-width;
				width:$bun_space*1.5;
				margin:3px 0;
				background:$hamburger_colour;
			}
		}
		&.open{
			.bun{
				span{
					position:relative; margin:0;
					&:nth-child(2){
						opacity:0;
					}
					&:nth-child(1){
						transform:rotate(405deg);
						top:10px;
					}
					&:nth-child(3){
						transform:rotate(315deg);
						top:0px;
					}
				}
			}
		}
		.helper{
			display:inline-block; margin:0;
			position:relative; top:-$bun_space*0.7;
			color:#333;
			font-size:0.8em;
		}
		&.open{
			.helper{ top:-100px; }
		}

		ul{
			list-style:none;
			margin:0; margin-top:$space/2;
			padding:0;
			background:$menu_bg;
			li{
				display:block;
				border-bottom: 1px solid rgba(0,0,0,.1);
				&:last-child {
					border-bottom: none;
				}
				a{
					display:block;
					padding:12px 30px;
					text-decoration:none;
					text-align:left;
					font-size: 18px;
					color:$textColour;
				}
				&:last-child > a{
					border:0;
					background: $primary;
					color: white;
				}
				&.login a {
					color: $primary;
				}
				ul{
					border:0;
					margin: 0;
					li{
						border-bottom: none;
						a {
							font-size: 14px;
						}
						>ul li a{
							padding-left:$bun_space*1.5;
						}
					}
				}
				>ul { background:darken($menu_bg,4%); }
				>ul>li>ul{
					background:darken($menu_bg,8%);
					a{ }
				}
				>ul>li>ul>li>ul{
					background:darken($menu_bg,12%);
				}
				&.parent{
					position:relative;
					.dropper{
						position:absolute; right:0;
						padding:$bun_space $bun_space*1.5;
						cursor:pointer;
						color:$textColour;
						font-family:"FontAwesome";
					}
					&.open{
						> .dropper{
							transform:rotateX(180deg);
						}
						>a{
						}
					}
				}
			}
		}
	}
}