footer {
	background: #454348;
	padding: 30px 0;
	text-align: left;
	p {
		color: #f2f2f2;
		padding: 0 0 2em 0;
		&.credit {
			font-size: 10px;
			color: #ccc;
		}
		&.address {
			font-weight: 300;
			color: #f2f2f2;
			letter-spacing: 1px;
		}
	}
	h3 {
		color: white;
		font-weight: 300;
		font-size: 24px;
		letter-spacing: 1px;
		-webkit-font-smoothing: antialiased;
	}
	a,a:visited {
		color: #fff;
		.fa {
			margin-right: 15px;
		}	
	}
	form {
		padding-bottom: 80px;
		input[type=text]{
			width: 70%;
			font-size: 14px;
			padding: 5px 10px;
			height: 40px;
			box-sizing: border-box;
			background: #939395;
			border-color: #939395;
			color: white;
			border: none;
			display: inline-block;
			&::placeholder {
				color: white;
			}
		}
		button {
			background: lighten($secondary,10%);
			height: 41px;
			border: none;
		}
	}
}