{% extends "CustomerAppBundle::layout.html.twig" %}

{% block content %}

    <div class="c-block-panel c-block-panel--white c-block-panel--centered c-block-panel--large-text">
        <div class="container">
            <h2 class="c-block-panel__title">{{ title }}</h2>
            <div class="c-block-panel__content">
                <p>From here you can view important information about your property, download your statement of account and make payments</p>
            </div>
        </div>
    </div>

    {% for row in rows %}
        <div class="c-block-panel">
            <div class="container">
                <h4>{{ row.post_title }}</h4>
                <div>{{ row.post_body|markdown }}</div>
            </div>
        </div>
    {% endfor %}

{% endblock %}
