{% extends "CustomerAppBundle::base-layout.html.twig" %}

{% block content %}

    <div class="background-white">
        <div class="container">
            <div class="row">

                <div class="col span_3 hide-mobile">&nbsp;</div>
                <div class="col span_6 intro-box">
                    <h1 class="margin-bottom"><strong>{{ title }}</strong></h1>

                    <p>{{ message }}</p><br>

                    <form action="/" method="get">
                        <button type="submit" class="btn btn-danger">Go to Your Customer Login</button>
                    </form>
                </div>

            </div>
        </div>
    </div>

{% endblock %}