{% extends "CustomerAppBundle::layout.html.twig" %}

{% block content %}

<div class="background-white">
    <div class="container">
        <div class="row">
            
            <div class="col span_3 hide-mobile">&nbsp;</div>
            <div class="col span_6 intro-box">
                <h1 class="margin-bottom"><strong>Sign In</strong></h1>

                {% if error %}
                    <div class="alert alert-danger">
                        {{ error }}
                    </div>
                {% endif %}

                <form action="{{ path('customer_app_login_check') }}" method="post">

                    <div class="form-group">
                        <label for="username">Customer Reference</label>
                        <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="E.G. 12345-0001" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="_password" placeholder="Password" class="form-control">
                    </div>

                    <!--<p><small><a href="<?=customer_url('login/forgotten')?>">Forgotten Password?</a></small></p>-->
                    <button type="submit" class="btn btn-danger">Login</button>
                </form>
            </div>
            
        </div>
        <div class="row">
            <div class="col span_3 hide-mobile">&nbsp;</div>
            <div class="col span_6">
                <h3>Customer Login</h3>

                <p>From your customer login you can manage every aspect of your account, including:</p>
                <ul>
                    <li><span>Make payments</span></li>
                    <li><span>View your statement</span></li>
                    <li><span>View important announcements about your property</span></li>
                    <li><span>Raise issues (directors only)</span></li>
                    <li><span>Run Reports (directors only)</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}
