.date-filter {
  padding-left: 20px;
  padding-right: 20px;
  p {
    @media screen and (min-width: $desktopmq) {

      margin-left: 7%;
    }
  }
  select {
    margin: 5px 10px 0 0;

    &:last-of-type {
      margin-right: 0;

      @media screen and (min-width: $tabletmq) {
        margin-right: 20px;
      }
    }
  }

  .btn {
    margin-left: 0;
    margin-right: 0;
  }
}

.filter {
  margin-left: auto;
}
.dates-inline.date-filter {
    padding: 20px;

    @include media-breakpoint-up(md) {
      padding: 10px 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }


    label {
      font-weight: 500;
      margin-bottom: 0;
    }

    select {
      //min-width: 210px;
      max-width: 100%;
    }

    button {
      @include media-breakpoint-up(md) {
        align-self: flex-end;
      }

      @include media-breakpoint-up(lg) {
        align-self: center;
      }
    }

    .input-group {
      @include media-breakpoint-up(md) {
        text-align: left;
        margin: 0 10px 0 0;
      }

      @include media-breakpoint-up(lg) {
        display: flex;
        align-items: center;
        margin-right: 36px;

        label {
          margin: 0 10px 0 0;
        }

        select {
          margin: 0;
        }
      }
    }
  }


.budget-actual {
  .date-filter {
    padding: 20px;

    @include media-breakpoint-up(md) {
      padding: 10px 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    label {
      font-weight: 500;
      margin-bottom: 0;
    }

    select {
      min-width: 210px;
      max-width: 100%;
    }

    button {
      @include media-breakpoint-up(md) {
        align-self: flex-end;
      }

      @include media-breakpoint-up(lg) {
        align-self: center;
      }
    }

    .input-group {
      @include media-breakpoint-up(md) {
        text-align: left;
        margin: 0 10px 0 0;
      }

      @include media-breakpoint-up(lg) {
        display: flex;
        align-items: center;
        margin-right: 36px;

        label {
          margin: 0 10px 0 0;
        }

        select {
          margin: 0;
        }
      }
    }
  }
}

.date-filter {
  .split {
    display: flex;
    select:first-of-type{
      margin-right: 10px;
    }
  }
}