/////////////////////////////////////////////////////////
// Tables                                              //
/////////////////////////////////////////////////////////
.table-responsive{
	overflow-x: auto;
	padding: 3px;
	@include media-breakpoint-up(md) {
		// desktop
		overflow-x: inherit;
		padding: 0;
	}
}

table {
	width: 100%;
	th,	td {
		border-bottom: 1px solid $line;
		padding: 10px 15px;
		text-align: left;
		&:first-child {
			padding-left: 0;
		}
		&:last-child {
			padding-right: 0;
		}	
	}
	tr{
		&:not(:first-child):hover {
			background-color: $grey-6;
		}
	}
}