{% extends "CustomerAppBundle::layout.html.twig" %}

{% block content %}

    {% include 'CustomerAppBundle:Partials:breadcrumb.html.twig' with {'crumblink':'Ticket Archive','link':'/tickets/ticket-archive'} %}


    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumbs d-flex align-item-center padding-top-10 padding-bottom-15 padding-top-sm-20 padding-bottom-sm-30 padding-bottom-md-35">
                    <a href="/pages/dashboard/dashboard-director.html" class="icon icon-16 icon-home bg-grey-3"></a>
                    <span class="icon icon-12 icon-divider bg-grey-4"></span>
                    <a href="#" class="fc-grey-3">Tickets</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container padding-bottom-30 padding-bottom-sm-40">
        <div class="row">
            <div class="col-md-9 text-center text-sm-left">
                <h1 class="fc-primary d-sm-inline">Tickets</h1>
                <p class="padding-top-15 padding-top-md-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Fusce
                    dignissim vehicula facilisis. Nunc enim velit, tempor in pellentesque in, porta eu nisi.</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="searchbar default-box d-lg-flex align-items-center text-center text-md-left margin-bottom-20 margin-bottom-sm-30">
                    <p class="fw-500">Search all</p>
                    <div class="d-md-flex search-wrapper">
                        <input type="text" placeholder="Search keywords...">
                        <input type="submit" value="Search"
                               class="search-btn btn btn-cyan margin-top-15 margin-top-md-0">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-12 d-flex">
                <ul class="tabs tabs-primary tabs-bottom margin-bottom-30 ticket-tabs">
                    <li class="fs-7 fw-700">
                        <a href="/" class="fc-grey-5">
                            My Tickets
                        </a>
                    </li>
                    <li class="fs-7 fw-700">
                        <a href="/pages/login/create-account.html" class="fc-grey-5">
                            Site Tickets
                        </a>
                    </li>
                    <li class="fs-7 fw-700">
                        <a href="/pages/login/create-account.html" class="fc-black active">
                            Archive
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-5 col-sm-12 d-flex">
                <div class="ticket-search">
                    <span>Ticket Type</span>
                    <div class="input-group">
                        <select>
                            <option>Option One</option>
                            <option>Option Two</option>
                            <option>Option Three</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="default-box ticket-card margin-bottom-10 margin-bottom-sm-20 margin-bottom-md-30">
                    <div class="overview d-sm-flex align-items-center">
                        <h2 class="fc-black padding-bottom-10 padding-bottom-sm-0 fw-500">Cobbles missing on the corner
                            by 1-6 Braeburn</h2>
                        <a href="#" class="btn btn-cyan">View</a>
                    </div>
                    <div class="row">
                        <div class="col-6 col-md-4">
                            <div class="ticket-details bg-grey-6">
                                <div class="ticket-status d-flex align-items-center height-100">
                                    <span class="icon icon-32 icon-info bg-purple"></span>
                                    <p class="d-inline fw-500">In Progress</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-4">
                            <div class="ticket-details bg-grey-6 d-flex align-items-center">
                                <p>Maintenance</p>
                            </div>
                        </div>
                        <div class="col-md-4 d-none d-sm-block">
                            <div class="ticket-details bg-grey-6">
                                <p class="d-inline">00.00.00</p>
                                <span class="fc-grey-5 d-inline vertical-line">|</span>
                                <p class="d-inline">Adam Burn 019901-0026</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

    {% include 'CustomerAppBundle:Partials:error-report.html.twig' %}
{% endblock %}
