
    <div class="row">
        <div class="col-md-12">
            <p class="text-center"><img src="/bundles/customerapp/images/cards.png" class="img-responsive" style="margin: 0 auto;"></p>
        </div>
    </div>
