{% extends "CustomerAppBundle::layout.html.twig" %}

{% block content %}

    <section class="content">
        <div class="container">
            <h1>Payment confirmation</h1>
            {% if message is not empty %}
                <div class="alert alert--{{ messageState }}">{{ message }}</div>
            {% endif %}
            {% include 'CustomerAppBundle:Pay:cards-image.html.twig' %}
        </div>
    </section>

{% endblock %}
