{% extends "CustomerAppBundle::layout.html.twig" %}

{% block content %}

    <section class="content">
        <div class="container">
            <h1>Payment successful!</h1>
            <p>Your payment has been accepted and once confirmed will be visible in your statement.</p>
        </div>
    </section>

{% endblock %}
