{% extends "CustomerAppBundle::layout.html.twig" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Payment successful!</h1>
            <p>Your payment has been accepted and once confirmed will be visible in your statement.</p>
        </div>
    </div>
    {% include 'pay/cards-image.html' %}
</div>
{% endblock %}
