<!doctype html>
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->

    <head>
        <meta charset="utf-8">
        <meta name="description" content="Virtuous customer web application">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>{{ title }} &mdash; Virtuous Customer Web Application</title>

        <link rel="stylesheet" href="/bundles/customerapp/build/css/app.css">

        <link rel="apple-touch-icon" sizes="57x57" href="/bundles/customerapp/build/img/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/bundles/customerapp/build/img/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/bundles/customerapp/build/img/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/bundles/customerapp/build/img/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/bundles/customerapp/build/img/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/bundles/customerapp/build/img/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/bundles/customerapp/build/img/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/bundles/customerapp/build/img/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/bundles/customerapp/build/img/apple-touch-icon-180x180.png">
        <link rel="icon" type="image/png" href="/bundles/customerapp/build/img/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/bundles/customerapp/build/img/android-chrome-192x192.png" sizes="192x192">
        <link rel="icon" type="image/png" href="/bundles/customerapp/build/img/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="/bundles/customerapp/build/img/favicon-16x16.png" sizes="16x16">
        <link rel="manifest" href="/bundles/customerapp/build/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/bundles/customerapp/build/img/mstile-144x144.png">
        <meta name="theme-color" content="#ffffff">

        <script src="/bundles/customerapp/build/js/custom-modernizr.js"></script>
        <script src="/bundles/customerapp/js/jquery.min.js"></script>
    </head>

    <body>

        <header class="header">
            <div class="container">
                <div class="grid">
                    <div class="grid__item lap--one-quarter">
                        <a class="main-logo" href="/" title="Virtuous"><img alt="Virtuous" src="/bundles/customerapp/build/img/virtuous-logo.png"></a>
                    </div>
                    <div class="grid__item lap--three-quarters">
                        <nav class="nav">
                            <ul class="nav__list">
                                <li class="nav__list-item"><a class="nav__link" href="/" title="Why choose us?">Why choose us?</a></li>
                                <li class="nav__list-item"><a class="nav__link" href="/" title="Our services">Our services</a></li>
                                <li class="nav__list-item"><a class="nav__link" href="/" title="Contact">Contact</a></li>
                                <li class="nav__list-item">
                                    <a class="nav__list-link" href="tel:01916030033" title="Telephone Virtuous">
                                        <img class="icon" src="/bundles/customerapp/build/img/icon-phone-green.png">
                                        <span>0191 603 0033</span>
                                    </a>
                                </li>
                                <li class="nav__list-item">
                                    <a class="nav__list-link" href="/login" title="Login to Virtuous">
                                        <img alt="Virtuous customer login" class="icon" src="/bundles/customerapp/build/img/icon-person.png">
                                        <span>Login</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>

        {% block menu %}{% endblock %}
        {% block content %}{% endblock %}

        {% include 'CustomerAppBundle:components:call-to-action.html.twig' %}

        <footer class="footer pbl ptl">
            <div class="container">
                <div class="grid grid--full">

                    <div class="grid__item lap--one-half mbm hide-mobile">
                        <ul class="list list--two-column lap--three-quarters">
                            <li class="list__item"><a class="list__link" href="#" title="Home">Home</a></li>
                            <li class="list__item"><a class="list__link" href="#" title="Register interest">Register interest</a></li>
                            <li class="list__item"><a class="list__link" href="#" title="Why choose us?">Why choose us?</a></li>
                            <li class="list__item"><a class="list__link" href="#" title="Terms &amp; conditions">Terms &amp; conditions</a></li>
                            <li class="list__item"><a class="list__link" href="#" title="Our services">Our services</a></li>
                            <li class="list__item"><a class="list__link" href="#" title="Privacy policy">Privacy policy</a></li>
                            <li class="list__item"><a class="list__link" href="#" title="Contact us">Contact us</a></li>
                            <li class="list__item"><a class="list__link" href="#" title="Cookie policy">Cookie policy</a></li>
                            <li class="list__item"><a class="list__link" href="#" title="Login">Login</a></li>
                        </ul>
                    </div>

                    <div class="grid__item lap--one-half">
                        <div class="image-list">
                            <h3 class="image-list__title">Our accreditations</h3>
                            <ul class="image-list__list">
                                <li class="image-list__list-item">
                                    <a class="image-list__link" href="http://arma.org.uk/" target="_blank"  title="Arma website">
                                        <img alt="Arma accreditation logo" class="image-list__image" src="/bundles/customerapp/build/img/arma-logo.png">
                                    </a>
                                </li>
                                <li class="image-list__list-item">
                                    <a class="image-list__link" href="https://www.ombudsman-services.org/" target="_blank" title="Ombudsman Services website">
                                        <img alt="Ombudsman Services accreditation logo" class="image-list__image" src="/bundles/customerapp/build/img/ombudsman-services-logo.png">
                                    </a>
                                </li>
                                <li class="image-list__list-item">
                                    <a class="image-list__link" href="http://www.rics.org/uk/" target="_blank" title="RICS website">
                                        <img alt="RICS accreditation logo" class="image-list__image" src="/bundles/customerapp/build/img/rics-logo.png">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="grid__item one-quarter mtm">
                        <a class="sub__logo ptm" href="/" title="Virtuous"><img alt="Virtuous" src="/bundles/customerapp/build/img/virtuous-logo-text.png"></a>
                    </div>

                    <div class="grid__item three-quarters mtm tar">
                        <nav class="footer-nav ptm">
                            <ul class="footer-nav__list">
                                <li class="footer-nav__list-item">&copy; 2016 Virtuous Property Management</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </footer>

        <script src="/bundles/customerapp/build/js/app.js"></script>

    </body>
</html>
