{% extends "CustomerAppBundle::layout.html.twig" %}

{% block content %}

    <section class="hero">
        <div class="container">
            <img alt="Hero default" class="hero__image" src="/bundles/customerapp/build/img/hero-default.jpg">
            <div class="hero__content lap--one-half">
                <h2 class="hero__title">Log in</h2>

                {% if error %}
                    <div class="alert alert-danger">
                        {{ error }}
                    </div>
                {% endif %}

                <form action="{{ path('customer_app_login_check') }}" method="post">
                    <fieldset>
                        <label class="hidden" for="tenant-reference">Tenant reference</label>
                        <input class="hero__input" id="username" name="_username" placeholder="Tenant reference" type="text" value="{{ last_username }}">
                        <label class="hidden" for="password">Password</label>
                        <input class="hero__input" id="password" name="_password" placeholder="Password" type="password">
                        <div class="hero__form-footer">
                            <input class="hero__submit" type="submit" value="Log in">
                            <a class="hero__form-footer-link" href="#" title="Forgotten login details?">Forgotten login details?</a>
                            <a class="hero__form-footer-link" href="#" title="Not registered?">Not registered?</a>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </section>

{% endblock %}
