<section class="cta">
    <div class="container">
        <h3 class="cta__content">To get in touch call us on <img class="icon" src="/bundles/customerapp/build/img/icon-phone-white.png"><strong>0333 444 8478</strong> or email us <img class="icon" src="/bundles/customerapp/build/img/icon-email-white.png"> <a href="mailto:hello@virtuous.com" title="Contact Virtuous via e-mail"><strong>hello@virtuous.com</strong></a></h3>
    </div>
</section>