<table>
    <thead>
        <tr>
            <th class="one-fifth"><span>Date</span></th>
            <th class="one-fifth"><span>Description</span></th>
            <th class="one-fifth"><span>Amount</span></th>
            <th class="one-fifth"><span>Balance</span></th>
            <th class="one-fifth"><span>Downloads</span></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span>Date</span></td>
            <td><span>Description</span></td>
            <td>
                <span>Amount</span>
                <div class="tooltip" data-module="tooltip">
                    <span class="tooltip__icon" data-js="tooltip-icon" data-state="closed">?</span>
                    <div class="tooltip__message" data-js="tooltip-message">
                        <p>A tooltip is a message that appears when a cursor is positioned over an icon, image, hyperlink, or other element in a graphical user interface.</p>
                    </div>
                </div>
            </td>
            <td><span>Balance</span></td>
            <td><a href="#" title="Download (PDF)">Download (PDF)</a></td>
        </tr>
        <tr>
            <td><span>Date</span></td>
            <td><span>Description</span></td>
            <td><span>Amount</span></td>
            <td><span>Balance</span></td>
            <td><a href="#" title="Download (PDF)">Download (PDF)</a></td>
        </tr>
        <tr>
            <td><span>Date</span></td>
            <td><span>Description</span></td>
            <td><span>Amount</span></td>
            <td><span>Balance</span></td>
            <td><a href="#" title="Download (PDF)">Download (PDF)</a></td>
        </tr>
        <tr>
            <td><span>Date</span></td>
            <td><span>Description</span></td>
            <td><span>Amount</span></td>
            <td><span>Balance</span></td>
            <td><a href="#" title="Download (PDF)">Download (PDF)</a></td>
        </tr>
        <tr>
            <td><span>Date</span></td>
            <td><span>Description</span></td>
            <td><span>Amount</span></td>
            <td><span>Balance</span></td>
            <td><a href="#" title="Download (PDF)">Download (PDF)</a></td>
        </tr>
        <tr>
            <td><span>Date</span></td>
            <td><span>Description</span></td>
            <td><span>Amount</span></td>
            <td><span>Balance</span></td>
            <td><a href="#" title="Download (PDF)">Download (PDF)</a></td>
        </tr>
        <tr>
            <td><span>Date</span></td>
            <td><span>Description</span></td>
            <td><span>Amount</span></td>
            <td><span>Balance</span></td>
            <td><a href="#" title="Download (PDF)">Download (PDF)</a></td>
        </tr>
    </tbody>
</table>