<section class="hero">
    <div class="container">
        <img alt="Hero default" class="hero__image" src="assets/build/img/hero-default.jpg">
        <div class="hero__content lap--one-half">
            <h2 class="hero__title">Register your interest</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquam suscipit neque non auctor. Nam pharetra turpis nibh, in dapibus orci auctor a. Ut ex tortor, rutrum in risus vel, hendrerit gravida purus.</p>
        </div>
    </div>
</section>