<div class="registration-form">
    <h1 class="mbl">Register</h1>
    <form action="#" method="post">
        <fieldset>
            <label class="hidden" for="tenant-reference">Tenant reference</label>
            <input class="hero__input" id="tenant-reference" name="tenant-reference" placeholder="Tenant reference*" required type="text">
            <label class="hidden" for="registration-code">Registration code</label>
            <input class="hero__input" id="registration-code" name="registration-code" placeholder="Registration code*" required type="text">
            <label class="hidden" for="email-address">Email address</label>
            <input class="hero__input" id="email-address" name="email-address" placeholder="Email address*" required type="email">
            <label class="hidden" for="telephone-number">Telephone number</label>
            <input class="hero__input" id="telephone-number" name="telephone-number" placeholder="Telephone number*" required type="text">
            <label class="hidden" for="password">Password</label>
            <input class="hero__input" id="password" name="password" placeholder="Password*" type="password">
            <label class="hidden" for="confirm-password">Confirm  password</label>
            <input class="hero__input" id="confirm-password" name="confirm-password" placeholder="Confirm password*" type="password">
            <span class="fl-l mtl">* Required field</span>
            <input class="fl-r mtm" type="submit" value="Register">
        </fieldset>
    </form>
</div>