<form action="#" method="post">
    <div class="toggle" data-module="toggle">
        <span class="toggle__label">Do you currently have a managing agent?</span>
        <div class="toggle__input">
            <div class="toggle__input-ui toggle__input-ui--secondary" data-js="toggle-wrapper">
                <span class="toggle__input-ui-primary" data-js="toggle-primary">Yes</span>
                <span class="toggle__input-ui-secondary" data-js="toggle-secondary">No</span>
                <span class="toggle__input-ui-cover" data-js="toggle-cover"></span>
            </div>
            <input class="toggle__input-hidden" data-js="toggle-checkbox" id="input-managing-agent" name="input-managing-agent" type="checkbox" value="Yes">
        </div>
    </div>
    <div class="toggle" data-module="toggle">
        <span class="toggle__label">Would you like us to contact you?</span>
        <div class="toggle__input">
            <div class="toggle__input-ui toggle__input-ui--primary" data-js="toggle-wrapper">
                <span class="toggle__input-ui-primary" data-js="toggle-primary">Yes</span>
                <span class="toggle__input-ui-secondary" data-js="toggle-secondary">No</span>
                <span class="toggle__input-ui-cover" data-js="toggle-cover"></span>
            </div>
            <input class="toggle__input-hidden" checked="true" data-js="toggle-checkbox" id="input-managing-agent" name="input-managing-agent" type="checkbox" value="Yes">
        </div>
    </div>
</form>