<div class="modal" id="consentModal">
	<a href="#" class="close-modal" id="close">&times;</a>
	<div class="modal-body">
		<h3 class="modal-title">Are You Sure?</h3>
		<p>Are you sure you don't want the convenience of electronic correspondence?</p>
	</div>
	<div class="modal-footer">
		<a href="" class="btn btn-default" id="sure">Yes I'm sure</a>
		<a href="" class="btn btn-danger" id="enable-consent">Enable email correspondence</a>
	</div>
</div>